.filter-bar {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
  }
  
  .filter-bar input {
    border: 2px solid black;
    padding: 5px;
  }
  